html {
font-family: "Verdana"; 
}
body {
    background-color: #f0f0f0;
    margin: auto;
}

h1 {
    padding-top: 2%;
    text-align: center;
    font-family: "Verdana";
    color: #666666;
    font-size: 2.5em;

}

input
{
    background: #EEE;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type=text] {
    border: 2px solid #F2F2F2;
    margin-left: 15px;
}

button
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid #F2F2F2;
	background-color: #F2F2F2;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#detect
{
	margin-left: 15px;
}

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

ul.topnav hi {
		display: inline-block;
    color: #f2f2f2 !important;
    font-weight: bold !important;
    padding: 14px 16px !important;
    text-decoration: bold !important;
    font-size: 20px;
}

/* Float the list items side by side */
ul.topnav li, hi {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
		display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

 /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;

  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  
  ul.topnav.responsive hi {
    float: none;
    display: block;
  }
  
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.center img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


